
* {
  font-family: 'Lato', sans-serif;
}

.card {
  width: 2in;
  height: 3in;
  border: 1px solid black;
  border-radius: 0.125in;
  margin: 0;

  position: relative;
  display: inline-block;
}

.type {
  position: absolute;

  left: 0.125in;
  top: 0.125in;

  width: 2em;
  height: 2em;
  text-align: center;

  background-color: #FFF;
  border-radius: 100%;
}

.cost {
  position: absolute;

  right: 0.125in;
  top: 0.125in;

  width: 2em;
  height: 2em;
  text-align: center;

  background-color: #FFF;
  border-radius: 100%;
}

.flavor_text {
  position: absolute;

  left: 0.25in;
  width: 1.5in;
  top: 0.5in;
  height: 0.5in;
  color: #FFF;
  font-weight: bold;

  text-align: center;
}

.action_text {
  position: absolute;

  left: 0.25in;
  width: 1.5in;
  top: 1.125in;
  height: 1.625in;
  background-color: #FFF;

  text-align: center;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.L {
  background-color: #6A1B9A;
}

.S {
  background-color: #37474F;
}

.M {
  background-color: #1565C0;
}

.F {
  background-color: #2E7D32;
}

.R {
  background-color: #F50057;
}

.L .action_text span,
.S .action_text span,
.M .action_text span,
.F .action_text span {
  font-size: 4em;
}

span {
  display: inline-block;
  margin: 0.0625in 0.0625in;
}
